

.bottom {
    bottom: 0%;
    text-align: center;
    background-color: #010B1D;
    color: aliceblue;
    font-size: larger;
    height: 40vh;
    border-radius: 46px ;
  
}

img.flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}


.tagname{
    text-shadow: 3px 3px 7px rgb(255, 136, 0);
}


