
.signinleftside {
    background-image: linear-gradient(to bottom left, #e69efa, #19bdce);
    padding-top: 3rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px 7px black;
    height: 99vh;

}

.signinrightside {
    background-image: linear-gradient(to top left, #19bdce,#e69efa);
    height: 99vh;
}



img.sign1 {
    height: 350px;
    margin-top: 4rem;
    margin-left: 1rem;

}

.container {
    margin-top: 2rem;

}

.card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 20px 20px 0 rgba(0, 0, 0, 0.6);
}
.background
{
    background-image: linear-gradient(to bottom left, #D148F7, #19C3D5)
}